  <link rel="stylesheet" href="/css/styles.css">
 <script src="/web-server/src/app.js"></script>
<h1>{{title}} </h1>

    <header>
        <a href = '/weather'>Weather</a>
        <a href = '/'>index</a>
        <a href = '/about'>about</a>
        <a href = '/help'>help</a>
    </header>

  