<!DOCTYPE html>

<html>

<head>
      <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
         {{>header}}
         <p>This website was designed by Etemi Omodon. it was built using mapbox api and it is used to tell the weather condtition of a particular place when placed in the search box.</p>
         <img src="/img/me.png">
    </div>
    {{>footer}}
    {{!-- <h1>{{title}}</h1>
    <body>
   
   {{>footer}}
</body>
    <p>Created by {{name}}</p> --}}
</body>

</html>