<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<body>
    <div class="main-content">
         {{>header}}
         <p>This page is to hlep you on anything...</p>
    </div>
   {{>footer}}
</body>
</body>

</html>